# The token you got by creating discord bot
DISCORD_APP_TOKEN = 'YOUR TOKEN HERE'

# The emoji that react automatically for each message.
# Get emoji ID by typing "\:emoji_name:" as message in discord.
# emoji ID would look like this "<:emoji_name:1149688458588192788>"
CHEER_EMOJI = 'YOUR FAVORITE EMOJI ID HERE'

# List of role that is required for specific action. You may need more than one list.
ABLE_TO_SET_ROLE = "Role 1, Role 2, Role 3"